@use "./base" as *;

a.btn,
button.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1.1;

	&:focus {
		outline-style: solid;
		outline-color: transparent;
	}
}

.btn {
	padding: 0.8em;
	font-size: $fs-18;
	font-weight: $fw-bold;
	line-height: 2rem;
	border-radius: 0.75rem;

	&-dark {
		background-color: $clr-primary-400;
		color: $clr-neutral-400;
		transition: background-color 0.3s;

		&:hover,
		&:active {
			background-color: $clr-accent-400;
		}

		&:focus {
			box-shadow: 0 0 0 4px scale-color($clr-accent-400, $lightness: -10%);
		}
	}

	&-light {
		background-color: $clr-neutral-400;
		color: $clr-primary-400;
		transition: background-color 0.3s;

		&:hover,
		&:active {
			background-color: $clr-secondary-300;
		}

		&:focus {
			box-shadow: 0 0 0 4px scale-color($clr-secondary-300, $lightness: -10%);
		}
	}
}
