@use "./base" as *;

body {
	font-size: $fs-16;
	font-weight: $fw-regular;
	font-family: $ff-base;
	color: $clr-primary-400;
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

.header {
	padding-top: 2.5rem;

	@include media(medium) {
		padding-top: 3.875rem;
	}
}

footer {
	margin-top: auto;
	padding-block: 4rem;

	@include media(medium) {
		padding-block: 5.5rem;
	}
}
