@use "./base" as *;

body {
	font-size: $fs-16;
	font-weight: $fw-regular;
	font-family: $ff-base;
	color: $clr-primary-400;
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;

	background: url("/img/bg-main-mobile.png") no-repeat top -17.25rem right -13.5rem;

	@include media(medium) {
		background-image: url("/img/bg-main-tablet.png");

		@include pseudo {
			background-image: url(../public/img/bg-pattern-1.svg);
			background-size: contain;
			right: 0;
			top: -2%;
			width: remSize(265px);
			height: remSize(398px);
		}
	}

	@include media(large) {
		background-image: url("/img/bg-main-desktop.png");
	}
}

.header {
	padding-top: 2.5rem;

	@include media(medium) {
		padding-top: 3.875rem;
	}
}

.top-section {
	padding-block: remSize(64px);

	@include media(medium) {
		padding-block: remSize(96px);
	}

	p {
		margin-top: 1.25rem;

		@include media(medium) {
			margin-top: 1.75rem;
			font-size: $fs-18;
		}
		@include media(large) {
			margin-top: 2.5rem;
			font-size: $fs-20;
		}
	}

	& .top-section-wrapper {
		@include media(medium) {
			width: clamp(32rem, 65vw, 53rem);
		}
	}
}

.cta {
	$border-radius: 12px;

	position: relative;
	margin-top: 6rem;

	@include media(medium) {
		margin-top: 9.5rem;
		margin-bottom: 6rem;
	}

	@include media(large) {
		margin-top: 14rem;
		margin-bottom: 7rem;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 37.5rem;
		background-image: url(../public/img/bg-pattern-2.svg);
		background-position: top 0 left 50%;
		background-repeat: no-repeat;
		background-size: 17.5rem;
		border-radius: $border-radius;

		@include media(medium) {
			position: relative;
			background-position: top -20% left 50%;
			padding-inline: 4rem;
			align-items: start;
		}

		@include media(large) {
			padding-inline: 6.875rem;
			background-size: initial;
			background-position: top -30% left 43%;
		}
	}

	&-phoneImg {
		position: absolute;
		height: remSize(430px);
		transform: translateY(-100px);

		@include media(medium) {
			position: absolute;
			height: remSize(556px);
			transform: translateY(-8.125rem);
		}

		@include media(large) {
			height: remSize(642px);
			transform: translateY(-13.4375rem);
		}
	}

	&-box {
		margin-top: 24.125rem;
		padding: 3rem 2.25rem;
		border-radius: $border-radius;

		@include media(medium) {
			position: absolute;
			max-width: 25rem;
			right: 6%;
			bottom: -17%;
		}

		@include media(large) {
			max-width: 27.875rem;
			padding: 3.625rem 3.375rem 3rem;
			right: 8%;
			bottom: -20%;
		}
	}

	&-heading {
		font-size: $fs-32;
		font-weight: $fw-bold;
	}

	&-description {
		margin-top: 0.75rem;
		font-size: $fs-18;
		line-height: remSize(28px);

		@include media(large) {
			margin-top: 1.375rem;
			line-height: remSize(34px);
		}
	}

	&-price {
		margin: 2rem 0;
		gap: 1rem;
		align-items: center;
		font-weight: $fw-bold;

		@include media(large) {
			margin: 3rem 0;
		}

		& .price {
			font-size: $fs-64;
			line-height: 3.25rem;
		}

		& .duration {
			font-size: $fs-20;
			font-weight: $fw-regular;
		}
	}

	.btn + .btn {
		margin-top: 1rem;
	}
}

.footer {
	margin-top: auto;
	padding-block: 4rem;

	@include media(medium) {
		padding-block: 5.5rem;
	}

	&-rights {
		margin: 2rem 0 4rem;
		line-height: remSize(26px);
		max-width: 21rem;

		@include media(medium) {
			margin: 0;
			max-width: 22.875rem;
			grid-area: 2/1/2/2;
		}

		@include media(large) {
			grid-area: 1/2/1/3;
		}
	}

	&-mail {
		color: #000;
		font-weight: $fw-bold;
	}

	&-social {
		gap: 1.5rem;

		@include media(medium) {
			grid-area: 2/2/2/2;
			align-self: center;
			justify-self: end;
		}

		@include media(large) {
			grid-area: 1/3/1/4;
		}
	}

	&-icon {
		fill: #000;
		transition: fill 0.3s;

		&:hover {
			fill: $clr-secondary-400;
		}
	}

	&-logo {
		@include media(medium) {
			grid-area: 1 / 1 / 2 / 2;
		}
	}

	& > .container {
		@include media(medium) {
			display: grid;
			row-gap: 2rem;
			grid-template-columns: remSize(366px) 1fr;
			grid-template-rows: auto auto;
		}

		@include media(large) {
			grid-template-columns: remSize(285px) remSize(366px) 1fr;
			grid-template-rows: auto;
		}
	}
}
