@use "./base" as *;

body {
	font-size: $fs-16;
	font-weight: $fw-regular;
	font-family: $ff-base;
	color: $clr-primary-400;
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

.header {
	padding-top: 2.5rem;

	@include media(medium) {
		padding-top: 3.875rem;
	}
}

.top-section {
	padding-block: remSize(64px);

	@include media(medium) {
		padding-block: remSize(96px);
	}

	p {
		margin-top: 1.25rem;

		@include media(medium) {
			margin-top: 1.75rem;
			font-size: $fs-18;
		}
		@include media(large) {
			margin-top: 2.5rem;
			font-size: $fs-20;
		}
	}

	& .top-section-wrapper {
		max-width: 32rem;
		@include media(large) {
			max-width: 53rem;
		}
	}
}

.cta {
	$border-radius: 12px;

	position: relative;
	margin-top: 6rem;

	@include media(medium) {
		margin-bottom: 6rem;
	}

	@include media(large) {
		margin-top: 14rem;
		margin-bottom: 7rem;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 37.5rem;
		background-image: url(../public/img/bg-pattern-2.svg);
		background-position: top 0 left 50%;
		background-repeat: no-repeat;
		background-size: 17.5rem;
		border-radius: $border-radius;

		@include media(medium) {
			position: relative;
			background-position: top -20% left 50%;
			padding-inline: 4rem;
			align-items: start;
		}

		@include media(large) {
			padding-inline: 6.875rem;
			background-size: initial;
			background-position: top -30% left 43%;
		}
	}

	&-phoneImg {
		position: absolute;
		height: remSize(430px);
		transform: translateY(-100px);

		@include media(medium) {
			position: absolute;
			height: remSize(556px);
			transform: translateY(-8.125rem);
		}

		@include media(large) {
			height: remSize(642px);
			transform: translateY(-13.4375rem);
		}
	}

	&-box {
		margin-top: 24.125rem;
		padding: 3rem 2.25rem;
		border-radius: $border-radius;

		@include media(medium) {
			position: absolute;
			max-width: 25rem;
			right: 6%;
			bottom: -17%;
		}

		@include media(large) {
			max-width: 27.875rem;
			padding: 3.625rem 3.375rem 3rem;
			right: 8%;
			bottom: -20%;
		}
	}

	&-heading {
		font-size: $fs-32;
		font-weight: $fw-bold;
	}

	&-description {
		margin-top: 0.75rem;
		font-size: $fs-18;
		line-height: remSize(28px);

		@include media(large) {
			margin-top: 1.375rem;
			line-height: remSize(34px);
		}
	}

	&-price {
		margin: 2rem 0;
		gap: 1rem;
		align-items: center;
		font-weight: $fw-bold;

		@include media(large) {
			margin: 3rem 0;
		}

		& .price {
			font-size: $fs-64;
			line-height: 3.25rem;
		}

		& .duration {
			font-size: $fs-20;
			font-weight: $fw-regular;
		}
	}

	.btn + .btn {
		margin-top: 1rem;
	}
}

footer {
	margin-top: auto;
	padding-block: 4rem;

	@include media(medium) {
		padding-block: 5.5rem;
	}
}
