*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
	font: inherit;
}

html {
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
